#first{
  height: 400px;
  width: 100%;
  background: greenyellow

}
#second{
    height: 400px;
    width: 100%;
    background: teal
  
  }
  #third{
    height: 400px;
    width: 100%;
    background: tomato
  
  }